{% extends 'layout.njk' %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block head %}
  {{ super() }}
  <link href="{{ getAssetPath('jsoneditor.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-body" data-testid="app-page-body">
        <h1 class="govuk-heading-xl">{{ heading }}</h1>
      </div>

      <form id="jsoneditor-form" method="POST">
        <input type="hidden" name="crumb" value="{{ crumb }}" />
        {% if message === "success" %}
          {% set html %}
            <p id="organisation-success-message" class="govuk-body">Organisation record updated</p>
          {% endset %}

          {{ govukNotificationBanner({
            html: html,
            type: "success"
          }) }}
        {% endif %}

        {% if error %}
          {{ govukErrorSummary({
            titleText: "Failed saving organisation",
            errorList: [
              {
                text: error
              }
            ]
          }) }}
        {% endif %}

       <div id="stale-draft-warning-placeholder"></div>

        <div id="jsoneditor" data-testid="organisation-jsoneditor"></div>
        <script id="organisation-json" type="application/json">{{ organisationJson | safe }}</script>

        <input  id="jsoneditor-organisation-object" type="hidden" name="organisation" />

        {{ govukButton({
          text: "Reset",
          type: "button",
          classes: "govuk-!-margin-right-2 govuk-button--secondary",
          id: "jsoneditor-reset-button"
        }) }}

        {{ govukButton({
          text: "Save",
          type: "submit",
          id: "jsoneditor-save-button"
        }) }}
      </form>
    </div>


  </div>
{% endblock %}

{% block pageScripts %}
  <script type="text/javascript" src="{{ getAssetPath('jsoneditor.js') }}"></script>
{% endblock %}
