.jsoneditor-changed {
  background-color: rgba(255, 220, 180, 0.4);
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

#jsoneditor {
  //min-height: 80vh;
  margin-bottom: 20px;
}

.jsoneditor {
  border: thin solid #1d70b8
}

div.jsoneditor-menu {
  background-color: #1d70b8
}
