{% extends 'layout.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-body" data-testid="app-page-body">

        {% if error %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: error.text,
                href: error.href
              }
            ]
          }) }}
        {% endif %}

        <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

        <form method="post" action="/system-logs" class="app-filters">
          <input type="hidden" name="crumb" value="{{ crumb }}" />
          <h2 class="govuk-heading-m">Search system logs by</h2>
          <div class="govuk-form-group">
            {{ govukInput({
              label: {
                text: "Organisation reference number",
                classes: "govuk-label--s"
              },
              id: "referenceNumber",
              name: "referenceNumber",
              type: "search",
              value: searchTerms.referenceNumber,
              errorMessage: error if error,
              autocomplete: "off",
              classes: "govuk-input--width-20"
            }) }}
          </div>

          <div class="govuk-form-group">
            {{ govukInput({
              label: {
                text: "User email",
                classes: "govuk-label--s"
              },
              id: "email",
              name: "email",
              type: "email",
              value: searchTerms.email,
              errorMessage: error if error,
              autocomplete: "off",
              classes: "govuk-input--width-20"
            }) }}
          </div>

          <div class="govuk-form-group">
            {{ govukSelect({
              id: "subCategory",
              name: "subCategory",
              label: {
                text: "Event type",
                classes: "govuk-label--s"
              },
              items: [
                { value: "", text: "All event types", selected: not searchTerms.subCategory },
                { value: "download", text: "Download", selected: searchTerms.subCategory == "download" },
                { value: "epr-organisations", text: "Organisations", selected: searchTerms.subCategory == "epr-organisations" },
                { value: "overseas-sites", text: "Overseas sites", selected: searchTerms.subCategory == "overseas-sites" },
                { value: "packaging-recycling-notes", text: "Packaging recycling notes", selected: searchTerms.subCategory == "packaging-recycling-notes" },
                { value: "reports", text: "Reports", selected: searchTerms.subCategory == "reports" },
                { value: "summary-log", text: "Summary log", selected: searchTerms.subCategory == "summary-log" },
                { value: "waste-balance", text: "Waste balance", selected: searchTerms.subCategory == "waste-balance" }
              ]
            }) }}
          </div>

          <div class="govuk-button-group">

            {{ govukButton({ text: "Search" }) }}

            <a href="/system-logs" class="govuk-button govuk-button--inverse">Clear search</a>
          </div>
        </form>

        {% for systemLog in systemLogs %}
          {% set rows = [
            {
              key: { text: "Timestamp" },
              value: { html: systemLog.timestamp }
            },
            {
              key: { text: "User ID" },
              value: { html: systemLog.user.id }
            },
            {
              key: { text: "User email" },
              value: { html: systemLog.user.email }
            },
            {
              key: { text: "User roles" },
              value: { html: systemLog.user.scope }
            }
          ] %}

          {% if systemLog.context %}
            {#
              Whitespace added at the start of the contents of <code> elements so the rendered opening brace aligns
              The summaryList component calls nunjucks indent function to render supplied html
              - this indents every line (expect the first!) by 6 spaces
            #}
            {% set contextHtml = '<code class="app-json-display">          ' ~ systemLog.context | dump(2) ~ '</code>' %}
            {% set rows = rows.concat([ { key: { text: "Context" }, value: { html: contextHtml } } ]) %}
          {% endif %}

          {% if systemLog.context.summaryLogId %}
            {% set downloadHref = '/system-logs/download/' ~ (systemLog.context.organisationId | urlencode) ~ '/' ~ (systemLog.context.registrationId | urlencode) ~ '/' ~ (systemLog.context.summaryLogId | urlencode) %}
            {% set downloadHtml = '<a href="' ~ downloadHref ~ '" class="govuk-link">Download file</a>' %}
            {% set rows = rows.concat([ { key: { text: "File" }, value: { html: downloadHtml } } ]) %}
          {% endif %}

          {% if 'renderDelta' in systemLog %}
            {#
              Whitespace added at the start of the contents of <code> elements so the rendered opening brace aligns
              The summaryList component calls nunjucks indent function to render supplied html - this indents every
              line (except the first!) by 6 spaces
            #}

            {% if systemLog.renderDelta.previous %}
            {% set previousHtml = govukDetails({ summaryText: "Show", html: '<code class="app-json-display">          ' ~ systemLog.renderDelta.previous | dump(2) ~ '</code>' }) %}
            {% set rows = rows.concat({ key: { text: "Previous" }, value: { html: previousHtml } }) %}
            {% endif %}
            
            {% if systemLog.renderDelta.next %}
            {% set nextHtml = govukDetails({ summaryText: "Show", html: '<code class="app-json-display">          ' ~ systemLog.renderDelta.next | dump(2) ~ '</code>' }) %}
            {% set rows = rows.concat({ key: { text: "Next" }, value: { html: nextHtml } }) %}
            {% endif %}

            {% if systemLog.renderDelta.difference %}
            {% set differenceHtml = '<code class="app-json-display">          ' ~ systemLog.renderDelta.difference | dump(2) ~ '</code>' %}
            {% set rows = rows.concat({ key: { text: "Difference" }, value: { html: differenceHtml } }) %}
            {% endif %}

          {% endif %}

          {{ govukSummaryList({
            card: {
              title: {
                text: [systemLog.event.category, systemLog.event.subCategory, systemLog.event.action] | select | join(', ')
              }
            },
            rows: rows
            })
          }}
        {% endfor %}

        {% if pagination.previous or pagination.next %}
          <p class="govuk-body">Showing page {{ page }}</p>
          {{ govukPagination({
            previous: pagination.previous,
            next: pagination.next
          }) }}
        {% endif %}

        {% if not systemLogs.length %}
          {{ govukInsetText({ text: "No system logs found" }) }}
        {% endif %}

      </div>
    </div>
  </div>

{% endblock %}
