{% extends 'layout.njk' %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <h1 class="govuk-heading-xl">Organisations</h1>

        <p class="govuk-body-l">Choose an option to manage organisations:</p>

        <ul class="govuk-list">
          <li>
            <a href="/organisations/search" class="govuk-link govuk-link--no-visited-state">Search organisations</a>
          </li>
          <li>
            <a href="/organisations/all" class="govuk-link govuk-link--no-visited-state">View all organisations</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %}
