{% extends 'layout.njk' %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">

{# Render a table when organisations data is provided, otherwise show a message #}
{% if organisations and organisations.length %}
  {% set tableRows = [] %}
  {% for org in organisations %}
    {% set orgId = org.orgId %}

    {# build cells as objects expected by govukTable #}
    {% set nameCell = { text: org.name } %}
    {% set regCell = { text: org.registrationNumber } %}
    {% set orgIdCell = { text: orgId } %}
    {% set statusCell = { html: govukTag({
      text: org.status
    }) } %}
    {% set actionsHtml = '<a class="govuk-link govuk-link--no-visited-state" href="/organisations/' ~ org.id ~ '">Edit</a>' %}
    {% set actionsHtml = actionsHtml ~ '<br><a class="govuk-link govuk-link--no-visited-state" href="/defra-forms-submission/' ~ org.id ~ '">View Submission Data</a>' %}
    {% set actionCell = { html:  actionsHtml } %}

    {% set row = [ nameCell, orgIdCell, regCell, statusCell, actionCell ] %}
    {% set tableRows = tableRows.concat([row]) %}
  {% endfor %}

  {{ govukTable({
    caption: "Organisations",
    captionClasses: "govuk-table__caption--m",
    firstCellIsHeader: true,
    head: [
      { text: "Name" },
      { text: "Organisation ID" },
      { text: "Registration Number" },
      { text: "Status" },
      { text: "Actions" }
    ],
    rows: tableRows
  }) }}

  {% else %}
    {{ govukInsetText({ text: "No organisations found." }) }}
  {% endif %}
      </div>
    </div>
  </div>

{% endblock %}
