@use 'govuk-frontend' as *;

.app-filters {
  background-color: govuk-colour("black", $variant: "tint-95");
  margin-bottom: govuk-spacing(8);
  padding: govuk-spacing(2);
}

.app-filters .govuk-button {
  margin-bottom: govuk-spacing(0);
}
