{% extends 'layout.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ heading }}</h1>

      <p class="govuk-body">
        Registration: <strong>{{ registrationNumber }}</strong><br>
        Period: <strong>{{ formattedPeriod }}, {{ year }}</strong><br>
        Submission: <strong>{{ submissionNumber }}</strong>
      </p>

      {{ govukWarningText({
        text: "Unsubmitting will move the report back to 'ready to submit'. The operator will need to delete and resubmit it.",
        iconFallbackText: "Warning"
      }) }}

      {% if SCOPES.adminWrite in scopes %}
        <form method="POST" action="{{ postUrl }}">
          <input type="hidden" name="crumb" value="{{ crumb }}" />
          {{ govukButton({
            text: "Yes, unsubmit this report",
            classes: "govuk-button--warning"
          }) }}
          <p class="govuk-body">
            <a class="govuk-link" href="{{ overviewUrl }}">Cancel</a>
          </p>
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
