@use "sass:map";
@use "govuk-frontend" as *;
@use "variables/border-radius" as *;
@use "variables/colours" as *;

.app-service-header {
  @include govuk-font(19);

  color: govuk-colour("white");
  background: $govuk-brand-colour;
}

.app-service-header--sensitive-environment {
  background: govuk-colour("orange");
  border-bottom: 10px solid $govuk-brand-colour;
}

.app-service-header__container--full-width {
  border-color: govuk-colour("black");
}

.app-service-header__container {
  padding: govuk-spacing(3) govuk-spacing(6);
}

// Center align service name and environment tag, which only shows on infra-dev
.app-service-header__content {
  display: flex;
}

.app-service-header__service-name {
  display: inline-block;
  @include govuk-font(36);
}

.app-service-header__service-environment {
  @include govuk-font(19);
  padding: govuk-spacing(1) govuk-spacing(2);
  margin-left: govuk-spacing(2);
  border-radius: $app-border-radius;
  background-color: govuk-colour("blue", $variant: "tint-25");
}

.app-service-header__actions {
  @include govuk-font(19);
  display: flex;
  margin-top: govuk-spacing(2);

  & .app-user-icon {
    margin-right: govuk-spacing(2);
  }
}

.app-service-header__login {
  &.app-service-header__login--logged-in {
    padding-left: govuk-spacing(3);

    &::before {
      content: "";
      padding-right: govuk-spacing(3);
      border-left: 1px solid govuk-colour("white");
    }
  }
}

.app-service-header__login-link {
  @include govuk-font(19, "bold");
}

.app-service-header__link {
  @include govuk-typography-common;
  @include govuk-link-style-inverse;

  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
  }

  &:focus {
    @include govuk-focused-text;
  }
}

@include govuk-media-query($from: desktop-big) {
  .app-service-header__container {
    display: flex;
  }

  .app-service-header__content {
    flex: 4;
    display: flex;
    align-items: center;
  }

  .app-service-header__actions {
    align-items: center;
    justify-content: center;
    margin-top: 0;
  }
}
