@use 'govuk-frontend' as *;

$app-light-grey: #f8f8f8;
$defra-brand-colour: govuk-organisation-colour(
  department-for-environment-food-rural-affairs
);
$app-brand-background-colour: govuk-tint($govuk-brand-colour, 85%);
$app-brand-background-colour-light: govuk-tint($govuk-brand-colour, 95%);
$app-brand-border-colour: govuk-tint(
  $govuk-brand-colour,
  80%
); // TODO these are the wrong way round
$app-brand-border-colour-light: govuk-tint(
  $govuk-brand-colour,
  50%
); // TODO these are the wrong way round
