{% extends 'layout.njk' %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">You do not have permission</h1>
      <p class="govuk-body">
        Your account does not have permission to use this page. If you think this is wrong, contact your administrator.
      </p>
      <p class="govuk-body">
        <a class="govuk-link" href="/">Return to the home page</a>
      </p>
    </div>
  </div>
{% endblock %}
