{% extends "govuk/template.njk" %}

{# Import GOVUK components globally #}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% from "service-header/macro.njk" import appServiceHeader with context%}

{% set mainClasses = "app-main-wrapper" %}


{% block head %}
  <link href="{{ getAssetPath('stylesheets/application.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}
  {{ appServiceHeader({
    serviceName: serviceName,
    serviceUrl: "/",
    loginText: "Sign out" if isAuthenticated else "Sign in",
    loginUrl: ("/auth/sign-out" if isAuthenticated else "/auth/sign-in")
  }) }}

  {{ govukServiceNavigation({
    navigation: navigation
  }) }}
{% endblock %}

{% block pageTitle %}
  {{ pageTitle }} | {{ serviceName }}
{% endblock %}

{% block beforeContent %}

    {{ govukBreadcrumbs({
      items: breadcrumbs
    }) }}

{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "https://www.gov.uk/help/privacy-notice",
          text: "Privacy"
        },
        {
          href: "https://www.gov.uk/help/cookies",
          text: "Cookies"
        },
        {
          href: "https://www.gov.uk/help/accessibility-statement",
          text: "Accessibility statement"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script type="text/javascript" src="{{ getAssetPath('application.js') }}"></script>
{% endblock %}
