{% extends 'layout.njk' %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% block content %}
  <div class="govuk-width-container">
    <h1 class="govuk-heading-xl">{{ heading }}</h1>

    {% set tableRows = [] %}
    {% for registration in registrations %}
      {% set reportsUrl = '/organisations/' ~ organisationId ~ '/registrations/' ~ registration.id ~ '/overview' %}
      {% set actionsHtml = '<a class="govuk-link govuk-link--no-visited-state" href="' ~ reportsUrl ~ '">View</a>' %}
      {% set row = [
        { text: registration.registrationNumber },
        { html: govukTag({ text: registration.status }) },
        { text: registration.processingType },
        { text: registration.material },
        { text: registration.site },
        { text: registration.accreditation.accreditationNumber },
        { html: govukTag({ text: registration.accreditation.status }) },
        { html: actionsHtml }
      ] %}
      {% set tableRows = tableRows.concat([row]) %}
    {% endfor %}

    {{ govukTable({
      head: [
        { text: "Registration number" },
        { text: "Status" },
        { text: "Processing type" },
        { text: "Material" },
        { text: "Site" },
        { text: "Accreditation number" },
        { text: "Accreditation status" },
        { text: "Actions" }
      ],
      rows: tableRows
    }) }}
  </div>
{% endblock %}
