@use "govuk-frontend" as *;
@use "variables/colours" as *;
@use "sass:color";

.app-user-icon {
  fill: govuk-colour("white");
  background-color: $defra-brand-colour;
  border-radius: 50%;
  padding: 3px;
  border: 1px solid govuk-colour("white");
}

.app-user-icon--elevated-permissions {
  background-color: color.adjust(govuk-colour("orange"), $saturation: 60%);
  border: 1px solid govuk-colour("white");
}
