{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "epr-re-ex-admin-frontend"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        {% if loggedIn %}
        <p>Hello {{username}}</p>
        <p><a href="/auth/logout">Logout</a></p>
        {% else %}
        <p><a href="/auth/login">Login</a></p>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}
