{% extends 'layout.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if error %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: error
            }
          ]
        }) }}
      {% endif %}

      <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

      <p class="govuk-body">
        Download a CSV of all report periods for approved and suspended registrations,
        including periods not yet submitted, to identify organisations to chase.
      </p>

      <form method="POST" action="/report-submissions">
        <input type="hidden" name="crumb" value="{{ crumb }}" />
        {{ govukButton({
          text: "Download CSV"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
